

  <% if @current_author %>
    <p>Welcome, <%= @current_author.name %>!</p>
  <% else %>
    <p>No author logged in.</p>
  <% end %>

  <%= link_to 'Create a New Book', new_author_book_path(current_author)%>
  <%= link_to 'View My Books', author_books_path(current_author) %>