<h1>Orders for <%= "#{current_customer.firstname} #{current_customer.lastname}" %></h1>

<ul>
  <% current_customer.orders.each do |order| %>
    <li>
      <%= link_to "Order ##{order.id}", customer_order_path(current_customer, order) %>
    </li>
  <% end %>
</ul>



<%= link_to 'Back', customers_path(current_customer) %>


